@charset "utf-8";

#main{
	width: 960px;
	height:2000px;
	margin: 0 auto;
	padding:40px;
}

#para1
{
	float:left;	
	width:500px;
	height:40px;

}
#second img{
	float:right;
}
#para2
{
	float:left;	
	width:950px;
	height:240px;
}

#para3
{
	float:left;	
	width:950px;
	height:350px;
}

#para4
{
	float:left;	
	width:950px;
	height:280px;
}

#para5
{
	float:left;	
	width:950px;
	height:350px;
}

#title{
	color:#006633;
	Font-size:30px;
	font-weight:bold;
	padding:5px;
	Font-family:Lucida Bright,Georgia,serif; 
}

#content{
	text-align:justify;
	color:black;
	font-size:17px;
	padding:5px;
	margin-left:18px;
	line-height: 1.5;
}
#title1{
	color:red;
	Font-size:25px;
	font-weight:bold;
	padding:5px;
	Font-family:Lucida Bright,Georgia,serif; 
	margin-left:20px;
}

#content1{
	text-align:justify;
	color:black;
	font-size:15px;
	padding:5px;
	margin-left:25px;
	line-height: 1.5;
}

